:root {
	--wordle-yellow: rgb(255, 204, 0);
	--worlde-green: rgb(0, 204, 136);
	--wordle-black: rgb(24, 26, 27);

	--color-tone-1: #000000;
	--color-tone-2: #787c7e;
	--color-tone-3: #878a8c;
	--color-tone-4: #d3d6da;
	--color-tone-5: #edeff1;
	--color-tone-6: #f6f7f8;
	--color-tone-7: #ffffff;
	--green: #6aaa64;
	--darkenedGreen: #538d4e;
	--yellow: #c9b458;
	--darkenedYellow: #b59f3b;
	--lightGray: #d8d8d8;
	--gray: #86888a;
	--darkGray: #939598;
	--white: #fff;
	--black: #212121;
	--orange: #f5793a;
	--blue: #85c0f9;
	--red: #9F0000;
	--darkenedRed: #850000;
}

#wordleList-app {
	--text-color: var(--color-tone-1);
	--tile-text-color: var(--color-tone-7);
	--background2: var(--color-tone-5);
	--background:  var(--color-tone-7);

	color: var(--text-color);
	width: 100%;
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
	:root {
	--color-tone-1: #ffffff;
	--color-tone-2: #818384;
	--color-tone-3: #565758;
	--color-tone-4: #3a3a3c;
	--color-tone-5: #272729;
	--color-tone-6: #1a1a1b;
	--color-tone-7: #121213;
	--background2: var(--color-tone-5);
	--tile-text-color: var(--color-tone-1);
	}
}

#wordleList-app.nightMode-on {
	--color-tone-1: #ffffff;
	--color-tone-2: #818384;
	--color-tone-3: #565758;
	--color-tone-4: #3a3a3c;
	--color-tone-5: #272729;
	--color-tone-6: #1a1a1b;
	--color-tone-7: #121213;
	--background2: var(--color-tone-5);
	--tile-text-color: var(--color-tone-1);
}

#wordleList-app.nightMode-off {
	--color-tone-1: #000000;
	--color-tone-2: #787c7e;
	--color-tone-3: #878a8c;
	--color-tone-4: #d3d6da;
	--color-tone-5: #edeff1;
	--color-tone-6: #f6f7f8;
	--color-tone-7: #ffffff;
	--background2: var(--color-tone-5);
	/*--tile-text-color: var(--color-tone-1);*/
}

@font-face {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: normal;
	src: url('./public/outfit.woff2') format('woff2');
}

body {
	margin: 0;
	font-family: 'Outfit';
}

body.noscroll {
	overflow: hidden;
}

button {
	font-family: 'Outfit';
}

.f-row {
	display: flex;
	flex-direction: row;
}

.f-col {
	display: flex;
	flex-direction: column;
}

#root {
	width: 100vw;
	display: flex;
	justify-content: center;
	font-family: 'Outfit';
	color: var(--text-color);
}

#wordleList-app {
	background-color: var(--background);
}

.wordleList {
	background-color: var(--background);
	width: 100vw;
	max-width: 900px;
	align-self: center;
}

.favComponents, .nonFavComponents {
	justify-content: center;
	border-radius: 8px;
	overflow: hidden;
}

.favComponents {
	background-color: var(--background2);
	margin-bottom: 16px;
	color: var(--darkendGreen);
	border-color: var(--darkendGreen);
	border-width: 1px;
}

.nonFavComponents {
	background-color: var(--background2);
	margin: 0 0 2rem 0;
}

.wordleList-favHeader {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	color: var(--darkendGreen);
	padding: 6px 0;
}

.wordleList-favHeader:first-letter {
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--green);
	color: var(--tile-text-color);
	padding: 0 4px;
	margin-right: 1px;
}

.firstLetter:first-letter {
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--green);
	color: var(--tile-text-color);
	padding: 0 4px;
	margin-right: 1px;
}

