.wordleHeader-titleRow {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	text-align: center;
}

.wordleHeader-titleRow svg {
	display: block;
	width: 48px;
	align-self: center;
	cursor: pointer;
	/*position: absolute;*/
}
/*
.wordleHeader .gearIcon {
	right: 8px;
}

.wordleHeader .questionIcon {
	right: 32px;
}*/

.wordleHeader {
	color: var(--text-color);
	padding: 1rem 1rem 0 1rem;
}

.wordleHeader-title {
	font-size: 2.5rem;
	flex-grow: 1;
}

.wordleHeader-desc {
	font-size: 1.25rem;
	text-align: center;
	width: 100%;
	padding: 0.5rem 0 1rem 0;
}