@media (prefers-color-scheme: dark) {
	.wordleList-row {
		background-color: var(--color-tone-1);
		color: var(--color-tone-4);
	}
}

/* Allow tiles to be smaller on small screens */
@media (max-width: 900px) {
  .wordleList-row {
    font-size: 1.25rem !important;
  }

  .wordleList-rowDesc {
    font-size: 0.9rem !important;
  }

  .wordleList-rowTitle {
  	margin-left: 4px !important;
  }
}

.wordleList-row {
	transition: transform 0.5s ease-in-out;
	flex-direction: row;
	background-color: var(--color-tone-2);
	color: var(--tile-text-color);
	/*padding: 2px 0;*/
	font-size: 2rem;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	vertical-align: middle;
	box-sizing: border-box;
	border-width: 3px 0 0 0;
	border-style: solid;
	border-color: var(--color-tone-4);
}

.wordleList-row.preview {
	border: 0 !important;
	width: 100%;
	max-width: 900px;
}

.wordleList-row.fav {
	cursor: drag;
}

.wordleList-row:not(:last-child) {
	border-bottom-width: 0;
}

.wordleList-row:first-child {
	border-top-width: 0;
}

.wordleList-row a {
	color: var(--tile-text-color);
}

.wordleList-row a:not(.wordleList-playButton):visited {
	color: var(--tile-text-color);
}

.wordleList-row svg path {
	fill: var(--tile-text-color);
}

.wordleList-rowTitle {
	margin-left: 8px;
	margin-right: 2px;
	flex: 2;
	flex-grow: 1;
}

.wordleList-rowDesc {
	font-size: 1.5rem;
	flex: 5;
	flex-grow: 2;
	line-height: 1.1;
}

a.wordleList-playButton  {
	text-decoration: none;
	color: var(--tile-text-color);
	background-color: var(--darkenedYellow);
	margin: 4px 8px;
  padding: 8px 8px;
	flex: 1;
	flex-grow: 0;
	border-radius: 4px;
}

a.wordleList-playButton:hover {
	background-color: var(--yellow) !important;
}

a.wordleList-playButton.ready {
	color: var(--tile-text-color) !important;
	background-color: var(--darkenedGreen) !important;
}

a.wordleList-playButton.ready:hover {
	background-color: var(--green) !important;
}

.wordleList-dragButton {
	cursor: move;
	display: flex;
	margin-left: 4px;
}

.wordleList-favHeader {
	width: 100%;
	text-align: center;
	font-size: 2rem;
}